{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Профиль</h1>
    <p>Email: {{ email }}</p>

    <h2>Сессии:</h2>

    <ul>
        {% for session in sessions %}
            <li>
                Сессия ID: {{ session.date|date("Y-m-d H:i:s") }}
                <canvas id="chart-{{ loop.index }}"></canvas>
                <script>
                    (function() {
                        const ctx = document.getElementById('chart-{{ loop.index }}').getContext('2d');

                        const alphaData = [];
                        const betaData = [];
                        const labels = [];
                        {% for inform in session.informs %}
                            alphaData.push({{ inform.alpha|json_encode|raw }});
                            betaData.push({{ inform.betta|json_encode|raw }});
                            labels.push('{{ inform.dateTime|date("Y-m-d H:i:s") }}');
                        {% endfor %}

                        const myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels, 
                                datasets: [{
                                    label: 'Alpha',
                                    data: alphaData,
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 2,
                                    fill: false
                                },
                                {
                                    label: 'Beta',
                                    data: betaData,
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 2,
                                    fill: false
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                    })();
                </script>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
